.main-header {
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header h1 {
    margin: 0;
}

.main-header nav a {
    margin-left: 15px;
    color: #fff;
}
